table{
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 50%;
}
td,th{
    border: 1px solid rgba(133, 56, 56, 0.867) ;
    text-align:left;
}
div.cities{
    background-color: black;
    color: white;
}